@model List<CourtComplex>

<div>
    <h3> court complex</h3>
</div>
<div id="addcourtComplexForm" class="setupForm">
    @using (Ajax.BeginForm("AddCourtComplex", "Setup", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { @id = "courtComplexForm" }))
    {
        <div>
            <div class="col-md-12">
                @Html.TextBox("CourtComplex", "", new { @class = "form-control" })
            </div>
        </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-12">
                    <input type="button" value="Add Court Complex" onclick="submitCourtComplexForm()" class="btn btn-default" />
                </div>
            </div>


    } 
</div>
<br>
<br>
<br>
<br>

<div id="caseTypeGrid" class="setupGrid">

    @{
        WebGrid grid = new WebGrid(null, rowsPerPage: 15);
        grid.Bind(Model, rowCount: 15);
    }
    @grid.GetHtml(tableStyle: "table table-bordered",
 mode: WebGridPagerModes.All,
    columns: grid.Columns(
    grid.Column("CourtComplex1", " Court Complex", canSort: false),


    grid.Column(header: "Action",
                format: @<a data-value="@item.Id" href="#" onclick="deleteCourtComplex(@item.Id)">Delete</a>)
))


</div>
<script type="text/javascript">
    function submitCourtComplexForm() {
            var textVal = $("#CourtComplex").val();

            if (!($.trim(textVal) == "")) {


                $.ajax({
                    url: '@Url.Action("AddCourtComplex", "Setup")',
                    type: 'POST',
                    data: $('#courtComplexForm').serialize(),
                    success: function (data) {

                        $("#SetupData").load('/Setup/CourtComplexes');

                    }
                });
            }
            else {
                $('#courtComplexForm')[0].reset();
                alert("Court Complex Required")
            }
        }


        function deleteCourtComplex(id) {

            var idstring = id;
            $.ajax({
                url: '@Url.Action("DeleteCourtComplex", "Setup")',
                type: 'POST',
                data:{id: idstring},
                success: function (data) {
                    loadPartialView(2)
                }
            });
        }


</script>
